<launch>
	<arg name="output_file" default="follower" />
	<arg name="topics" default="/tf /map /visualization_marker /move_base_node/TebLocalPlannerROS/teb_poses /move_base_node/TebLocalPlannerROS/teb_markers" />
	<node pkg="rosbag" type="record" name="rosbag_recorder" output="screen" args="$(arg topics) -o /home/payam/ros_project/src/person_follower/bag/$(arg output_file)"/>
</launch>