<launch>
	<arg name="laser_frame" default="laser" />
	<arg name="laser_frame_back" default="laser_back" />
	<node pkg="hokuyo_node" type="hokuyo_node" name="back_hokuyo_node">
		<param name="max_ang" value="2.0943951023931953" />
		<param name="min_ang" value="-2.0943951023931953" />
		<param name="frame_id" value="$(arg laser_frame_back)" />
		<param name="port" value="/dev/sensors/hokuyo_H0508411" />
		<param name="/use_sim_time" value="true"/>
		<param name="calibrate_time" type="bool" value="true"/>
		<remap from="scan" to="back_scan" />
	</node>

	<node pkg="hokuyo_node" type="hokuyo_node" name="front_hokuyo_node">
		<param name="max_ang" value="1.3962634015954636" />
		<param name="min_ang" value="-1.3962634015954636" />
		<param name="frame_id" value="$(arg laser_frame)" />
		<param name="port" value="/dev/sensors/hokuyo_H0613970" />
		<param name="/use_sim_time" value="true"/>
		<param name="calibrate_time" type="bool" value="true"/>
	</node>
</launch>