<launch>
	<arg name="laser_frame" default="laser" />
	<arg name="laser_frame_back" default="laser_back" />
		
    <group>
        <machine name="hydro" address="hydro" default="true" user="payam" env-loader="~/env_loader.sh" />

        <include file="$(find person_follower)/launch/hokuyo.launch" output="screen">
        	<arg name="laser_frame" value="$(arg laser_frame)" />
        	<arg name="laser_frame_back" value="$(arg laser_frame_back)" />
        </include>
        <include file="$(find person_follower)/launch/camera.launch" />
        <!-- <node pkg="joy" type="joy_node" name="joy_node" output="screen">
			<remap from="/joy" to="/teleop/joy" />
			<param name="dev" type="string" value="/dev/input/js0" />
			<param name="autorepeat_rate" value="10" />
		</node> -->
    </group>
</launch>